/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 425px){
  /* começo do header */
  header {
    width: 100%;
  }

  #home .img img, #home .img::before  {
    width: 160px;
  }

  #home .img img {
    left: 80px;
  }

  #home .img::before {
    left: 120px;
  }
  /* fim do header */

  .title {
    font-size: 20px;
  }

  p {
    font-size: 12px;
    text-align: center;
    text-align: justify;
    padding: 0 20px;
  }

  .button {
    width: 142px;
    font-size: 12px;
    height: 2.5rem;
  }

  .subtitle {
    font-size: 12px;  
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  /* começo do header */
  header {
    width: 100%;
  } 

  #home .img img, #home .img::before  {
    width: 300px;
  }

  #home .img img {
    left: 174px;
  }

  #home .img::before {
    left: 290px;
  }
  /* fim do header */

  #home .text p {
    padding: 0 16px;
    text-align: justify;
}

.card {
  margin: 0 90px;
}
}
